<table class="participants-table-groupPage" style="width: 30%;" ng-if="windWidth > 800">
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr class="row-sport" ng-repeat="sportType in sportTypes | filter: searchKeyword" ng-click="openSportPage(sportType)">
        <td data-th="Icon"><img ng-src="{{sportType.icon}}" width=30 height=30></img></td>
        <td data-th="Name">{{sportType.title}}</td>
    </tr>
</table>

<table class="participants-table-groupPage" style="width: 90%;" ng-if="windWidth < 799">
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr class="row-sport" ng-repeat="sportType in sportTypes | filter: searchKeyword" ng-click="openSportPage(sportType)">
        <td data-th="Icon"><img ng-src="{{sportType.icon}}" width=30 height=30></img></td>
        <td data-th="Name">{{sportType.title}}</td>
    </tr>
</table>
