<section data-ng-controller="SportTypesController" data-ng-init="find(1)">
    <div ng-include="'sportTypes/views/sportType-main.client.view.html'"></div>

    <div class="groups-top">

        <span class="col-md-3">
            <input type="text" class="form-control-group" placeholder="Search" ng-model="searchKeyword"/>
        </span>
    </div>

    <table class="rwd-table" ng-if="windWidth > 800">
        <tr>
            <th>Icon</th>
            <th>Name</th>
        </tr>
        <tr ng-repeat="sportType in sportTypes | filter: searchKeyword" ng-click="openSportPage(sportType)">
            <td data-th="Icon"></td>
            <td data-th="Name">{{sportType.title}}</td>
        </tr>
    </table>

     <div class="small-table" ng-if="windWidth < 799">
         <div class="group-header" ng-repeat="sportType in sportTypes | filter: searchKeyword" ng-click="openSportPage(sportType)">
             <div class="left-side-group">
                 <!--<i style="font-size:25px; text-align: center; width: 50%; height: 50%; margin: auto; vertical-align: middle; " class="fa fa-users" aria-hidden="true"></i>-->
                 <!-- <span class= "picture-part" data-ng-bind="group.image"></span>-->
             </div>
             <div class="center-side-group">
                 <span class= "name-part" data-ng-bind="sportType.title"></span>
             </div>
         </div>
     </div>
</section>
