<div class="admin-section_groups" ng-if="authentication.user._id == group.creator._id || !isInGroup">
    <span ng-if="windWidth < 799 && inGroupPage" style="font-size:25px; " class="fa fa-ellipsis-v" aria-hidden="true" ></span>
    <span ng-if="windWidth < 799 && !inGroupPage" style="font-size:25px; color: white" class="fa fa-ellipsis-v" aria-hidden="true" ></span>
    <div class="dropdown-content-groups">
        <button data-ng-show="authentication.user._id == group.creator._id" class="admin-button" ng-click="adminSelect(1, 'groups/allGroups/' + group._id)" ng-class="{'admin-selection-btn': adminSelection==1}">Group Page</button>
        <button data-ng-show="authentication.user._id == group.creator._id" class="admin-button" ng-click="adminSelect(2, 'groups/allGroups/' + group._id + '/edit')" ng-class="{'admin-selection-btn': adminSelection==2}">Edit Group</button>
        <button data-ng-show="authentication.user._id == group.creator._id" class="admin-button" ng-click="adminSelect(3, '/'); delete()" ng-class="{'admin-selection-btn': adminSelection==3}">Delete Group</button>
        <button data-ng-show="authentication.user._id == group.creator._id" class="admin-button" ng-click="adminSelect(4, 'groups/allGroups/' + group._id + '/addMembers');" ng-class="{'admin-selection-btn': adminSelection==4}">Add Participants</button>
        <button data-ng-show="authentication.user._id == group.creator._id" class="admin-button" ng-click="adminSelect(5, 'groups/allGroups/' + group._id + '/joinRequests');" ng-class="{'admin-selection-btn': adminSelection==5}">Join Requests</button>
        <button data-ng-show="authentication.user._id == group.creator._id" class="admin-button" ng-click="adminSelect(6, 'groups/allGroups/' + group._id + '/removeMembers');" ng-class="{'admin-selection-btn': adminSelection==6}">Remove Participants</button>
        <button ng-if="!isInGroup && !isInWaitingList" class="admin-button" ng-click="askToJoinToGroup()">Ask To Join</button>
        <button ng-if="isInWaitingList" class="admin-button">Waiting For Answer</button>
    </div>
</div>

