<section data-ng-controller="GroupsController" data-ng-init="findOne(1)">
    <div ng-include="'groups/views/group-main.client.view.html'"></div>
    <div class="group-title center_align">{{group.title}}</div>

    <div class="groupPage" ng-if="windWidth >= 800">
        <div ng-include="'groups/views/admin-menu.client.view.html'"></div>
        
        <div class="groupPage-creator">
            Created On: <span data-ng-bind="group.created | date:'mediumDate'"></span>
            <br>
            By: <span data-ng-bind="group.creator.fullName" class="links" ng-click="goToPage('users/', group.creator.id)"></span>
        </div>
        <div class="groupPage-main-part">
            <div class="groupPage-details">
                <div>Court: <span data-ng-bind="group.defaultCourt.title" class="links" ng-click="goToPage('courts/', group.defaultCourt._id)"></span></div>
                <div>Sport: <span data-ng-bind="group.theSportType.title"></span></div>
            </div>

            <div class="groupPage-participants_list">
                <div class="participants_list">
                    <div class="participants_list_header">Participants List</div>
                    <div ng-if="group.members.length != 1"><span class="groupPage-numbers">{{group.members.length}}</span> Participants</div>
                    <div ng-if="group.members.length == 1"><span class="groupPage-numbers">{{group.members.length}}</span> Participant</div>
                </div>
                <div>
                <span class="col-md-3">
                    <input type="text" class="participants_form-control-groups" placeholder="Search" ng-model="searchKeyword"/>
                </span>
                </div>
                <table class="participants-table-groupPage">
                    <tr>
                        <th>User</th>
                        <th>City</th>
                    </tr>
                    <tr data-ng-repeat="member in group.members | filter: searchKeyword" ng-click="goToPage('users/', member.id)">
                        <td data-th="User">
                            <div ng-if="member.id!=authentication.user.id">
                                {{member.fullName}}
                            </div>
                            <div ng-if="member.id==authentication.user.id" style="font-weight: 900">
                                You
                            </div>
                        </td>
                        <td data-th="City">
                            <div ng-if="member.id!=authentication.user.id">
                                {{member.city}}
                            </div>
                            <div ng-if="member.id==authentication.user.id" style="font-weight: 900">
                                {{member.city}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <button ng-if="isInGroup" class="eventList-button" ng-click="openEventList(group)">Events List</button>
            <div ng-if="isInGroup && eventListOpen!=null" class="groupPage-eventList">
                <div class="events-top-usersPage">
                    <div class="mobile-app-toggle-userPage">
                        <button class="upcomingOrOld-button-userPage" ng-click="oldNewEvents('Upcoming')" ng-class="{'selected_new': upcomingOrPast=='Upcoming'}">UPCOMING</button>
                        <button class="upcomingOrOld-button-userPage" ng-click="oldNewEvents('Past')" ng-class="{'selected_old': upcomingOrPast=='Past'}">PAST</button>
                    </div>
                    <div>
                    <span class="col-md-3">
                        <input type="text" class="participants_form-control-users" placeholder="Search" ng-model="searchKeyword"/>
                    </span>
                    </div>
                </div>
                <div ng-include="'sportEvts/views/list-sportEvts.client.view.html'"></div>
            </div>
        </div>
    </div>

    <div class="groupPage" ng-if="windWidth < 799">
        <div ng-include="'groups/views/admin-menu.client.view.html'"></div>
        <div class="groupPage-main-part">
            <div class="groupPage-details">
                <div>Court: <span data-ng-bind="group.defaultCourt.title" class="links" ng-click="goToPage('courts/', group.defaultCourt._id)"></span></div>
                <div>Sport: <span data-ng-bind="group.theSportType.title"></span></div>
            </div>

            <div class="groupPage-participants_list">
                <div class="participants_list">
                    <div ng-if="group.members.length != 1"><span class="groupPage-numbers">{{group.members.length}}</span> Participants</div>
                    <div ng-if="group.members.length == 1"><span class="groupPage-numbers">{{group.members.length}}</span> Participant</div>
                </div>
                <div>
                    <input type="text" class="participants_form-control-groups" placeholder="Search" ng-model="searchKeyword"/>
                </div>
                <table class="participants-table">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr data-ng-repeat="member in group.members | filter: searchKeyword" ng-click="goToPage('users/', member.id)">
                        <td data-th="User">
                            <div ng-if="member.id!=authentication.user.id">
                                {{member.fullName}}
                            </div>
                            <div ng-if="member.id==authentication.user.id" style="font-weight: 900">
                                You
                            </div>
                        </td>
                        <td data-th="City">
                            <div ng-if="member.id!=authentication.user.id">
                                {{member.city}}
                            </div>
                            <div ng-if="member.id==authentication.user.id" style="font-weight: 900">
                                {{member.city}}
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="eventPage-moreInfo">
            Created On: <span data-ng-bind="group.created | date:'mediumDate'"></span>
            <br>
            By: <span data-ng-bind="group.creator.fullName" class="links" ng-click="goToPage('users/', group.creator.id)"></span>
        </div>
        <button ng-if="isInGroup" class="eventList-button" ng-click="openEventList(group)">Events List</button>
        <div ng-if="isInGroup && eventListOpen!=null" class="groupPage-eventList">
            <div class="events-top-usersPage">
                <div class="mobile-app-toggle-userPage">
                    <button class="upcomingOrOld-button-userPage" ng-click="oldNewEvents('Upcoming')" ng-class="{'selected_new': upcomingOrPast=='Upcoming'}">UPCOMING</button>
                    <button class="upcomingOrOld-button-userPage" ng-click="oldNewEvents('Past')" ng-class="{'selected_old': upcomingOrPast=='Past'}">PAST</button>
                </div>
                <div>
                    <span class="col-md-3">
                        <input type="text" class="participants_form-control-users" placeholder="Search" ng-model="searchKeyword"/>
                    </span>
                </div>
            </div>
            <div ng-include="'sportEvts/views/list-sportEvts.client.view.html'"></div>
        </div>
    </div>

</section>