section #na-test {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #CBCBCB;
    font-weight: 500;
}


.line {
    position: absolute;
    bottom: 0;
    height: 2px;
    background: red;
    transition: all 150ms ease-in-out;
}

.selection_users_menu {
    text-decoration: underline;
    text-underline-color: white;
    font-weight: 900;
    color: white;
}

.rwd-table-users th {
    display: none;
}
.rwd-table-users td {
    display: block;
}
.rwd-table-users td:first-child {
    padding-top: .5em;
}
.rwd-table-users td:last-child {
    padding-bottom: .5em;
}
.rwd-table-users td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 9em;
    display: inline-block;
}

@media screen and (min-width: 800px) {

    .userPage{
        position: relative;
        color: rgb(50, 54, 57);
        line-height: 2;
        margin-bottom: 50px;
        top: 40px;
    }

    .users-menu {
        position: relative;
        display: flex;
        background: rgb(50, 54, 57);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        width: 100%;
        top: -15px;
    }

    .na-li {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 48px;
        margin-left: 15%;
        cursor: pointer;
        user-select: none;
        font-size: 1.1em;
        font-weight: 600;
        left: 10%;
    }

    .first-child {
        margin-left: 0;
    }

    /* ###########################################################################*/

    .mobile-app-toggle-userPage {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 30%;
        left: 35%;
        right: 35%;
        border: 1px solid rgb(50, 54, 57);
        border-radius: 0.625rem;
        overflow: hidden;
        height: 30px;
    }

    .mobile-app-toggle-userPage .upcomingOrOld-button-userPage {
        position: relative;
        background: transparent;
        color: rgb(50, 54, 57);
        -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
        flex: 1 0 0;
        font-size: 0.8em;
        font-weight: 400;
        height: 30px;
        padding: 1px;
        cursor: pointer;
    }

    .mobile-app-toggle-userPage .upcomingOrOld-button-userPage:nth-child(n+1) {
        border-left: 1px solid rgb(50, 54, 57);
    }

    .mobile-app-toggle-userPage .selected_new{
        background: rgb(50, 54, 57);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        color: #fefefe;
        font-weight: 600;
        height: 26px;
    }
    .mobile-app-toggle-userPage .selected_old{
        background: rgb(50, 54, 57);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        color: #fefefe;
        font-weight: 600;
        height: 26px;
    }

    /*search ###################################################################################################*/


    .form-control-user {
        position: relative;
        display:block;
        width:50%;
        height:34px;
        padding:6px 12px;
        right: 25%;
        left: 25%;
        top: 50px;
        font-size:14px;
        line-height:1.42857143;
        color:#555;
        background-color:#fff;
        background-image:none;
        border:1px solid #ccc;
        border-radius:4px;
        -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
    }
    .form-control-user:focus {
        border-color:#66afe9;
        outline:0;
        -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }

    /*#########################################################################################################*/

    .center-button-users {
        text-align: center;
        margin: 50px auto auto auto;
        width: 80%;
    }

    .admin-section-users {
        position: absolute;
        display: inline-block;
        font-size: 15px;
        width: 10%;
        height:auto;
        padding-bottom: 20px;
        top: 0;
        left: 90%;
        z-index: 1;
        text-align: center;
        background-color: rgb(50, 54, 57);
    }

    .admin-button a {
        color: black;
        width: 100%;
        height: 100%;
    }

    .user-title {
        position: relative;
        font-size: 30px;
        font-weight: 800;
        color: rgb(50, 54, 57)
    }

    .userPage-creator {
        position: relative;
        font-size: 12px;
        top: -70px;
        height: 100%;
        padding: 10px;
        font-weight: 400;
    }

    .userPage-main-part {
        position: relative;
        width: 60%;
        margin: auto;
        text-align: center;
    }

    .userPage-details {
        position: relative;
        margin: auto;
        width: 50%;
        border-bottom: 1px dashed rgb(50, 54, 57);
        padding-bottom: 30px;
        text-align: left;
    }

    .userPage-group_list {
        position: relative;
        font-size: 18px;
        height: 100%;
        width: 100%;
        margin: auto;
        text-align: center;
        top: 80px;
        border-bottom: 1px dashed rgb(50, 54, 57);
    }

    .events-top-usersPage {
        position: relative;
        height: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 10px;
        text-align: center;
        background-color: rgb(50, 54, 57);
    }

    .userPage-eventList {
        position: relative;
        height: 100%;
        width: 100%;
        margin: auto;
        text-align: center;
        top: 80px;
        border-bottom: 1px dashed rgb(50, 54, 57);
    }

    .userPage-participants_list {
        position: relative;
        font-size: 14px;
        width: 80%;
        height: 100%;
        margin: auto;
        text-align: center;
        border-bottom: 1px dashed rgb(50, 54, 57);
    }

    .groupList-button {
        position: relative;
        color: black;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        width: 30%;
        top: 20px;
        margin: auto;
        text-align: center;
        border: 1px solid black;
    }

    .eventList-button-user {
        position: relative;
        color: black;
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        width: 30%;
        top: 20px;
        margin: auto;
        text-align: center;
        border: 1px solid black;
    }

    .selection_events_groups {
        border: 6px solid white;
        font-size: 18px;
        color: white;
        font-weight: bolder;
        background: rgb(50, 54, 57);
    }

    .participants_list {
        position: relative;
        font-size: 14px;
        padding: 10px;
        height: 100%;
        text-align: center;
    }

    .participants_list_header {
        color: rgb(50, 54, 57);
        font-weight: 700;
        font-size: 15px;
    }
    .user-status {
        color: #5872a7;
        font-weight: 500;
        font-size: 16px;
    }
    .center_align {
        text-align: center;
        top: 30px;
    }

    .userPage-numbers {
        color: #668ebe;
        font-weight: 900;
    }


    .links {
        text-decoration: underline;
        cursor: pointer;
    }

    .participants-table-userPage th {
        display: none;
    }
    .participants-table-userPage td {
        display: block;
        font-weight: 500;
    }
    .participants-table-userPage td:first-child {
        padding-top: .5em;
    }
    .participants-table-userPage td:last-child {
        padding-bottom: .5em;
    }
    .participants-table-userPage td:before {
        content: attr(data-th) ": ";
        font-weight: bold;
        width: 9em;
        display: inline-block;
    }
    .participants-table-userPage td:before {
        display: none;
    }

    .participants-table-userPage th, .participants-table-userPage td {
        text-align: center;
        font-size: 15px;
    }

    .participants-table-userPage th, .participants-table-userPage td {
        display: table-cell;
        padding: .25em .5em;
    }

    .participants-table-userPage th:first-child, .participants-table-userPage td:first-child {
        padding-left: 0;
    }

    .participants-table-userPage th:last-child, .participants-table-userPage td:last-child {
        padding-right: 0;
    }

    .participants-table-userPage {
        position: relative;
        background: transparent;
        width: 90%;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        color: rgb(50, 54, 57);
        overflow: hidden;
        border-collapse: collapse;
    }

    .participants-table-userPage tr:not(:first-child) {
        cursor: pointer;
    }
    .participants-table-userPage tr {
        border-bottom: 1px solid #cdcbc5;
    }


    .participants-table-userPage tr:not(:first-child):hover {
        background: #bfbdb7;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .participants-table-userPage th, .rwd-table-users td {
        margin: .5em 1em;
    }

    .rwd-table-users th, .rwd-table-users td {
        padding: 1em !important;
    }

    .participants-table-userPage th, .participants-table-userPage td:before {
        color: rgb(50, 54, 57);
        font-weight: 600;
    }

    .participants_form-control-users {
        position: relative;
        display:block;
        width:40%;
        height:30px;
        top: 20px;
        padding:6px 12px;
        margin: auto;
        font-size:14px;
        line-height:1.42857143;
        color:#555;
        background-color:#fff;
        background-image:none;
        border:1px solid #ccc;
        border-radius:4px;
        -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
    }
    .participants_form-control-users:focus {
        border-color:#66afe9;
        outline:0;
        -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }

    .row-sport {
        width: 10%;
    }

    .pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
    .l-box {
        padding: 1em;
    }

    .update-form-users {
        width: 66%;
        margin-right: auto;
        margin-left: auto;
        top: 0;
        bottom: 50px;
    }

    label {
        font-size: 16px;
        font-weight: 600;
    }

    .header-label {
        font-size: 18px;
        font-weight: 700;
    }

    .setFavoriteTimes-btn{
        position: relative;
        color: black;
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
        width: 70%;
        margin: auto auto 2em auto;
        text-align: center;
        border: 1px solid black;
    }

    .day-times-btns {
        position: relative;
        width: 80%;
        margin: auto auto 60px auto;
    }

    .days-btn{
        position: relative;
        color: black;
        cursor: pointer;
        font-size: 13px;
        font-weight: 700;
        width: 14%;
        margin: auto -2px 15px -2px;
        border: 1px solid black;
    }

    .btn-selected {
        border: 4px solid black;
    }

    .pure-button-primary {
        width: 60%;
        margin: auto;
    }

    input {
        height: 35px;
    }

    .checkBox-label {
        margin-bottom: 30px;
    }

    input[type='checkbox'] {
        display:inline;
        margin: 0 auto;
        margin-bottom: -6px;
        -webkit-appearance: button;
        border: none;
        background-color: #ccc;
        width: 40px;
        height: 20px;
        border-radius: 3px;
        box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
        cursor: pointer;
        position: relative;
        transition: background-color 1s;

    }
    input[type='checkbox'].error{
        background-color: #c63d3d;
    }
    input[type='checkbox']:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        height: 80%;
        background-color: #fdfdfd;
        margin: 4%;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);

        background: rgb(255,255,255);
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
        transition: .5s all;
    }

    input[type='checkbox']:checked{
        background-color: #79d122;
    }

    input[type='checkbox']:checked:after {
        left: 45%;
    }

    .rwd-table-users td:before {
        display: none;
    }

    .rwd-table-users th, .rwd-table-users td {
        text-align: left;
        font-size: 1em;
    }

    .rwd-table-users th, .rwd-table-users td {
        display: table-cell;
        padding: .5em .5em;
    }

    .rwd-table-users th:first-child, .rwd-table-users td:first-child {
        padding-left: 0;
    }

    .rwd-table-users th:last-child, .rwd-table-users td:last-child {
        padding-right: 0;
    }

    .rwd-table-users {
        position: relative;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        background: white;
        min-width: 650px;
        color: rgb(50, 54, 57);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        border-radius: .4em;
        overflow: hidden;
        border-collapse: collapse;
    }

    .rwd-table-users tr:not(:first-child) {
        border-bottom: 1px solid #cdcbc5;
        cursor: pointer;
    }
    .rwd-table-users tr {
        border-bottom: 1px solid #cdcbc5;
    }


    .rwd-table-users tr:not(:first-child):hover {
        background: #bfbdb7;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .rwd-table-users th, .rwd-table-users td {
        margin: .5em 0.1em;
    }

    .rwd-table-users th, .rwd-table-users td {
        padding: 0.5em !important;
    }

    .rwd-table-users th, .rwd-table-users td:before {
        color: rgb(50, 54, 57);
        font-weight: 600;
    }
    .usersList-to-add {
        position: relative;
        height: auto;
        text-align: left;
        border: 2px solid rgb(50, 54, 57);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        width: 60%;
        margin: auto;
        top: 70px;
    }

    .user-to-add {
        display:inline-block;
        padding: 5px;
        margin: 3px 10px 3px 10px;
        font-size: 1em;
        font-weight: 600;
        line-height: 25px;
        color: white;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-color: rgb(50, 54, 57);
        border-right: 1px solid transparent;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-top: 1px solid black;

        left: 10px;
    }

    .sport-to-add {
        display:inline-block;
        padding: 5px;
        margin: 3px 10px 3px 10px;
        font-size: 1em;
        font-weight: 600;
        line-height: 25px;
        color: white;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-color: rgb(50, 54, 57);
        border-right: 1px solid transparent;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-top: 1px solid black;

        left: 10px;
    }

    .selected_user {
        background-color: #0078e7;
    }

    .choose-sport {
        position: relative;
        top:40px;
        height: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 35px;
        text-align: center;
    }

}/* ##########################################################################################################*/

@media screen and (max-width: 800px) {

    .userPage{
        position: relative;
        color: rgb(50, 54, 57);
        line-height: 2;
        margin-bottom: 50px;
    }

    .users-menu {
        position: relative;
        background: rgb(50, 54, 57);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        height: 45px;
        width: 100%;
        vertical-align: middle;
        top: -16px;
        overflow: auto;
        white-space: nowrap;
    }

    .na-li {
        position: relative;
        display: inline-block;
        cursor: pointer;
        user-select: none;
        font-size: 0.9em;
        line-height: 1;
        text-align: center;
        vertical-align: middle;
        padding: 15px;
    }

    .na-li:first-child {
        right: 30px;
    }

    .na-li:last-child {
        left: 20px;
    }


    /* ###########################################################################*/

    .mobile-app-toggle-userPage {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 70%;
        border: 1px solid white;
        border-radius: 0.625rem;
        overflow: hidden;
        height: 25px;
        margin: auto;
    }

    .mobile-app-toggle-userPage .upcomingOrOld-button-userPage {
        position: relative;
        background: white;
        color: rgb(50, 54, 57);
        -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
        flex: 1 0 0;
        font-size: 0.75em;
        font-weight: 500;
        height: 25px;
        padding: 1px;
        width: 50%;
        cursor: pointer;
    }

    .mobile-app-toggle-userPage .upcomingOrOld-button-userPage:nth-child(n+1)  {
        position: relative;
        width: 50%;
        -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
        flex: 1 0 0;
        font-size: 0.8em;
        height: 25px;
        padding: 1px;
        border-left: 1px solid rgb(50, 54, 57);
    }

    .mobile-app-toggle-userPage .selected_new{
        background: rgb(50, 54, 57);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        color: #fefefe;
        font-weight: 600;
    }
    .mobile-app-toggle-userPage .selected_old{
        background: rgb(50, 54, 57);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        color: #fefefe;
        font-weight: 600;
    }
    /*search ###################################################################################################*/

    .users-top {
        position: relative;
        top:-29px;
        height: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 10px;
        text-align: center;
        background-color: rgb(50, 54, 57);
    }
    .form-control-user {
        position: relative;
        margin: auto;
        width: 60%;
        height: 25px;
        top: 5px;
        font-size:0.8em;
        line-height: 1;
        color: #555;
        background-color:#fff;
        border:1px solid #ccc;
        border-radius:4px;
        -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
    }
    .form-control-user:focus {
        border-color:#66afe9;
        outline:0;
        -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }

    /*
   ###############################################################################################################
   */
    .user-title {
        position: relative;
        top: 10px;
        font-size: 18px;
        font-weight: 800;
        color: rgb(50, 54, 57)
    }

    .userPage-main-part {
        position: relative;
        font-size: 12px;
        font-weight: 600;
        width: 90%;
        height: 100%;
        top: 25px;
        margin: auto;
    }

    .participants_list_header {

        color: rgb(50, 54, 57);
        font-weight: 700;
        font-size: 14px;
    }

    .admin-section-users {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 15px;
        left: 87%;
        cursor: pointer;
        display: inline-block;
        color: rgb(50, 54, 57);
        z-index: 1;
    }
    .fa-ellipsis-v {
        position: relative;
        margin: auto;
        left: 40%;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(50, 54, 57);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        right: 0;
    }

    .dropdown-content a {
        color: black;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content :hover {background-color: #f1f1f1}

    .admin-section-users:hover  .dropdown-content {
        display: block;
    }


    .admin-button a {
        color: black;

    }

    .userPage-details {
        position: relative;
        border-bottom: 3px solid rgb(50, 54, 57);
    }

    .userPage-group_list {
        position: relative;
        font-size: 18px;
        height: 100%;
        width: 100%;
        margin: auto;
        text-align: center;
        top: 20px;
        border-bottom: 1px dashed rgb(50, 54, 57);
    }

    .userPage-eventList {
        position: relative;
        font-size: 12px;
        height: 100%;
        width: 90%;
        margin: auto;
        text-align: center;
        top: 30px;
        /*border-bottom: 1px dashed rgb(50, 54, 57);*/
    }

    .userPage-participants_list {
        position: relative;
        width: 100%;
        height: 100%;
        margin: auto;
        top: -20px;
    }

    .userPage-moreInfo {
        position: relative;
        font-size: 12px;
        height: 100%;
        width: 90%;
        margin: auto;
        font-weight: 500;
        top: 10px;
    }

    .buttons-userPage {
        position: relative;
        width: 100%;
        margin: auto;
        text-align: center;
        top: 25px;
    }

    .groupList-button {
        position: relative;
        color: black;
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        width: 40%;
        top: -15px;
        margin: auto;
        text-align: center;
        border: 1px solid black;
    }

    .setFavoriteTimes-btn{
        position: relative;
        color: black;
        cursor: pointer;
        font-size: 13px;
        font-weight: 600;
        width: 80%;
        margin: auto auto 2em auto;
        text-align: center;
        border: 1px solid black;
    }

    .days-btn{
        position: relative;
        color: black;
        cursor: pointer;
        font-size: 10px;
        font-weight: 600;
        width: 12%;
        border: 1px solid black;
    }

    .btn-selected {
        border: 4px solid black;
        font-weight: bolder;
    }

    .eventList-button-user {
        position: relative;
        color: black;
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        width: 40%;
        top: -15px;
        margin: auto;
        text-align: center;
        border: 1px solid black;
    }

    .selection_events_groups {
        border: 3px solid white;
        font-size: 14px;
        color: white;
        font-weight: bolder;
        background: rgb(50, 54, 57);
    }

    .participants-status-total {
        position: relative;
        font-size: 12px;
        height: 100%;
        font-weight: 600;
    }

    .participants-status-total_header {
        color: rgb(50, 54, 57);
        font-weight: 700;
        font-size: 14px;
    }
    .user-status {
        position: relative;
        color: rgb(22, 107, 162);
        font-weight: 600;
        font-size: 13px;
        top: -20px;
    }
    .center_align {
        text-align: center;
    }

    .userPage-numbers {
        color: #668ebe;
        font-weight: 900;
    }

    .links {
        text-decoration: underline;
        cursor: pointer;
    }

    .participants-table-userPage th {
        display: none;
    }
    .participants-table-userPage td {
        display: block;
        font-weight: 500;
    }
    .participants-table-userPage td:first-child {
        padding-top: .5em;
    }
    .participants-table-userPage td:last-child {
        padding-bottom: .5em;
    }
    .participants-table-userPage td:before {
        content: attr(data-th) ": ";
        font-weight: 500;
        width: 9em;
        display: inline-block;
    }
    .participants-table-userPage td:before {
        display: none;
    }

    .participants-table-userPage th {
        text-align: left;
        font-size: 12px;
    }

    .participants-table-userPage td {
        text-align: left;
        font-size: 10px;
    }

    .participants-table-userPage th, .participants-table-userPage td {
        display: table-cell;
        padding: .25em .5em;
    }

    .participants-table-userPage th:first-child, .participants-table-userPage td:first-child {
        padding-left: 0;
    }

    .participants-table-userPage th:last-child, .participants-table-userPage td:last-child {
        padding-right: 0;
    }

    .participants-table-userPage {
        position: relative;
        background: transparent;
        width: 90%;
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
        color: rgb(50, 54, 57);
        overflow: hidden;
        border-collapse: collapse;
        border-bottom: 4px solid rgb(50, 54, 57);
    }

    .participants-table-userPage tr:not(:first-child) {
        cursor: pointer;
    }
    .participants-table-userPage tr {
        border-bottom: 1px solid #cdcbc5;
    }


    .participants-table-userPage tr:not(:first-child):hover {
        background: #bfbdb7;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    .participants-table-userPage th, .rwd-table-users td {
        margin: .5em 1em;
    }

    .rwd-table-users th, .rwd-table-users td {
        padding: 1em !important;
    }

    .participants-table-userPage th, .participants-table-userPage td:before {
        color: rgb(50, 54, 57);
        font-weight: 600;
    }

    .participants_form-control-users {
        position: relative;
        display:block;
        width:80%;
        height:25px;
        margin: auto;
        font-size:12px;
        line-height:1.42857143;
        color:#555;
        background-color:#fff;
        background-image:none;
        border:1px solid #ccc;
        border-radius:4px;
        -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
    }
    .participants_form-control-users:focus {
        border-color:#66afe9;
        outline:0;
        -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
    }

    /*  .rwd-table-users td:before {
          display: none;
      }*/
    .rwd-table-users th, .rwd-table-users td {
        text-align: left;
        font-size: 0.8em;
    }

    /*
        .rwd-table-users th, .rwd-table-users td {
            display: table-cell;
            padding: .25em .5em;
        }*/
    /* .rwd-table-users th:first-child, .rwd-table-users td:first-child {
         padding-left: 0;
     }

     .rwd-table-users th:last-child, .rwd-table-users td:last-child {
         padding-right: 0;
     }*/

    .rwd-table-users {
        position: relative;
        margin-top: 20px;
        background: white;
        min-width: 650px;
        color: rgb(50, 54, 57);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        border-radius: .4em;
        overflow: hidden;
        border-collapse: collapse;
    }

    .rwd-table-users tr:not(:first-child) {
        border-bottom: 1px solid #cdcbc5;
        cursor: pointer;
    }

    .rwd-table-users tr {
        border-bottom: 1px solid #cdcbc5;
    }

    .rwd-table-users tr:not(:first-child):hover {
        background: #bfbdb7;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }

    /* .rwd-table-users th, .rwd-table-users td {
         margin: .5em 1em;
     }

     .rwd-table-users th, .rwd-table-users td {
         padding: 1em !important;
     }
 */
    .rwd-table-users th, .rwd-table-users td:before {
        color: rgb(50, 54, 57);
        font-weight: 500;
    }

    .small-table-userPage {
        top: 15px;
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1;
        color: rgb(50, 54, 57);
        text-align: left;
        border-top: 2px solid gray;
        vertical-align: middle;
    }

    .small-table-users {
        position: relative;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 1;
        color: rgb(50, 54, 57);
        text-align: left;
        border-top: 2px solid gray;
        vertical-align: middle;
    }


    .user-header {
        padding: 6px 3px 1px 3px;
        display: inline-flex;
        position: relative;
        background: white;
        height: 65px;
        border-bottom: 2px solid gray;
        width: 100%;
        cursor: pointer;
        /*  border-right: 3px solid black;*/
    }

   /* .user-header:hover {
        background-color: #999999;
    }
*/
    .left-side-user {
        display: inline-block;
        position: relative;
        width: 18%;
        height: 45px;
        vertical-align: middle;
        text-align: center;
        top: -8px;
        margin: auto;
        padding: 10px;
    }

    .center-side-user {
        display: inline-block;
        position: relative;
        height: 45px;
        /* border-right: 3px solid black; */
        width: 90%;
        text-align: center;
        vertical-align: middle;
        top: -5px;
        padding: 3px;
        margin: auto;
    }

    .usersList-to-add {
        position: relative;
        height: auto;
        text-align: left;
        border: 2px solid rgb(50, 54, 57);
        background-color: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        width: 95%;
        margin: 20px auto 20px auto;
    }

    .user-to-add {
        display:inline-block;
        padding: 5px;
        margin: 3px 5px 3px 5px;
        font-size: 0.7em;
        font-weight: 500;
        line-height: 15px;
        color: white;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-color: rgb(50, 54, 57);
        border-right: 1px solid transparent;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

    .sport-to-add {
        display:inline-block;
        padding: 5px;
        margin: 3px 5px 3px 5px;
        font-size: 0.7em;
        font-weight: 500;
        line-height: 15px;
        color: white;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-color: rgb(50, 54, 57);
        border-right: 1px solid transparent;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-radius: 10px;
    }

    .fa-users {
        position: relative;
        top: 25%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        font-size:50px;
        text-align: center;
    }

    .right-side-user {
        display: inline-block;
        position: relative;
        width: 10%;
        height: 70px;
        text-align: center;
        padding-top: 10px;
    }

    .name-part {
        position: relative;
        height: 50%;
        width: 100%;
        text-align: left;
        float: left;
        clear: left;
    }
    .court-part {
        position: relative;
        text-align: left;
        height: 50%;
        width: 100%;
        float: left;
        clear: left;
    }

    .participants-part {
        position: relative;
        height: 50%;
        width: 100%;
        float: left;
        clear: left;
        bottom: -4px;
        vertical-align: middle;
    }


    fieldset {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
    }

    .pure-g > div {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 12px;
    }
    .l-box {
        padding: 1em;
    }

    .update-form-users {
        top: 0;
    }


    label {
        font-size: 14px;
        font-weight: 600;
    }

    .header-label {
        font-size: 16px;
        font-weight: 700;
    }

    .pure-button-primary {
        width: 50%;
        margin: 75px auto 30px auto;
    }

    input {
        height: 25px;
    }

    .checkBox-label {
        margin-bottom: 20px;
    }

    input[type='checkbox'] {
        display:inline;
        margin: 0 auto;
        margin-bottom: -2px;
        -webkit-appearance: button;
        border: none;
        background-color: #ccc;
        width: 30px;
        height: 15px;
        border-radius: 3px;
        box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
        cursor: pointer;
        position: relative;
        transition: background-color 1s;

    }
    input[type='checkbox'].error{
        background-color: #c63d3d;
    }
    input[type='checkbox']:after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        height: 80%;
        background-color: #fdfdfd;
        margin: 4%;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);

        background: rgb(255,255,255);
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
        transition: .5s all;
    }

    input[type='checkbox']:checked{
        background-color: #79d122;
    }

    input[type='checkbox']:checked:after {
        left: 45%;
    }


    .sportType-header {
        padding: 6px 3px 1px 3px;
        display: inline-flex;
        position: relative;
        background: white;
        height: 60px;
        border-bottom: 2px solid gray;
        width: 100%;
        cursor: pointer;
    }
    .left-side-sportType {
        display: inline-block;
        position: relative;
        width: 18%;
        height: 50px;
        vertical-align: middle;
        text-align: center;
    }
    .center-side-sportType {
        display: inline-block;
        position: relative;
        height: 50px;
        /*       border-right: 3px solid black;*/
        width: 75%;
        text-align: center;
        vertical-align: middle;
    }

    .selected_user {
        background-color: #0078e7;
    }
    .title-part {
        position: relative;
        height: 100%;
        width: 100%;
        text-align: left;
        float: left;
        clear: left;
        top: 14px;
    }

    .center-button-users {
        text-align: center;
        margin: auto auto auto auto;
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        height: 35px;
    }

    .day-times-btns {
        position: relative;
        width: 100%;
        margin: auto auto 60px auto;
    }
    .sportEvts-userPage {
        position: relative;
        top: 70px;
    }

    .add-users-groups-top {
        position: relative;
        height: 100%;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 10px;
        padding-top: 10px;
        top: -30px;
        text-align: center;
        background-color: rgb(50, 54, 57);
    }
}




