<section data-ng-controller="UsersController" data-ng-init="findOne(1)">
    <div ng-include="'users/views/main-users.client.view.html'"></div>
    <div ng-include="'users/views/admin-menu.client.view.html'"></div>
    <div class="user-title center_align" data-ng-bind="user.fullName"></div>
    <div class="userPage">

        <div class="userPage-main-part">
            <div class="userPage-details">
                <div>Year of Birth: <span data-ng-bind="user.yearOfBirth"></span></div>
                <div>Username: <span data-ng-bind="user.username"></span></div>
                <div>E-mail: <span data-ng-bind="user.email"></span></div>
                <div ng-if="user.country">Address: <span data-ng-bind="user.userAddress"></span></div>
                <div>Sports:
                    <il data-ng-repeat="sportType in user.sportTypes">
                        <button type="button" ng-bind="sportType.title" class="sport-to-add" ng-click="goToPage('sportTypes/', sportType._id)"></button>
                    </il>
                </div>
                <!-- Soccer icon by Icons8 -->

                <div class="links" ng-if="user.providerData.link"><a href={{user.providerData.link}}>FacebookLink</a></div>
            </div>
            <div class="buttons-userPage">
                <button class="groupList-button" ng-click="openGroupList(user)" ng-class="{'selection_events_groups': eventGroupSelection==1}">His Groups</button>
                <button class="groupList-button" ng-click="openEventList(user)" ng-class="{'selection_events_groups': eventGroupSelection==2}">His Events</button>
            </div>
            <div ng-if="groupListOpen!=null" class="userPage-group_list">
                <div>
                    <span class="col-md-3">
                        <input type="text" class="participants_form-control-users" placeholder="Search" ng-model="searchKeyword"/>
                    </span>
                </div>
                <div ng-include="'groups/views/list-groups.client.view.html'"></div>

            </div>

            <div ng-if="eventListOpen!=null" class="userPage-eventList">
                <div class="events-top-usersPage">
                    <div class="mobile-app-toggle-userPage">
                        <button class="upcomingOrOld-button-userPage" ng-click="oldNewEvents('Upcoming')" ng-class="{'selected_new': upcomingOrPast=='Upcoming'}">UPCOMING</button>
                        <button class="upcomingOrOld-button-userPage" ng-click="oldNewEvents('Past')" ng-class="{'selected_old': upcomingOrPast=='Past'}">PAST</button>
                    </div>
                    <div>
                        <span class="col-md-3">
                            <input type="text" class="participants_form-control-users" placeholder="Search" ng-model="searchKeyword"/>
                        </span>
                    </div>
                </div>
                <div ng-include="'sportEvts/views/list-sportEvts.client.view.html'"></div>

            </div>
        </div>
    </div>
</section>