<section data-ng-controller="SportEvtsController" data-ng-init="findAndUpdate()">
    <div ng-include="'sportEvts/views/main-sportEvts.client.view.html'"></div>
    <div ng-include="'sportEvts/views/admin-menu.client.view.html'"></div>
    <form data-ng-submit="update()" class="pure-form pure-form-stacked update-form">
        <fieldset>
            <!-- <legend>Create New Event</legend>-->


            <div class="pure-g"  ng-if="windWidth >= 800">
                <div class="pure-u-1 pure-u-md-1-4">
                    <label for="sportType">Sport*</label>
                    <select name="sportType" id="sportType" ng-model="theSportType._id" class="pure-u-20-24" required>
                        <option ng-repeat="item in sportTypeList" value="{{item._id}}">{{item.title}}</option>
                    </select>
                </div>

                <div class="pure-u-1 pure-u-md-1-4">
                    <label for="court">Court*</label>
                    <select name="court" id="court" ng-model="theCourt._id" class="pure-u-20-24" required>
                        <option ng-repeat="item in courtList" value="{{item._id}}">{{item.title}}</option>
                    </select>
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <!-- <label class="pure-u-1 pure-u-md-1 header-label">Date & Time:</label>-->
                    <div class="pure-u-2-5 pure-u-md-2-5">
                        <label for="dateEvt">Date*</label>
                        <input type="date" data-ng-model="sportEvt.dateEvtAsString" id="dateEvt" placeholder="date" class="pure-u-23-24" required>
                    </div>

                    <div class="pure-u-1-4 pure-u-md-1-4">
                        <label for="startTimeAsString">Start Time*</label>
                        <input type="time" data-ng-model="sportEvt.startTimeAsString" id="startTimeAsString" placeholder="Start Time" class="pure-u-23-24" required>
                    </div>
                    <div class="pure-u-1-4 pure-u-md-1-4">
                        <label for="duration">Duration</label>
                        <input type="number" data-ng-model="sportEvt.duration" id="duration" class="pure-u-16-24">
                    </div>
                </div>
                <label class="pure-u-1 pure-u-md-1-2 header-label">Number Of Members: </label>
                <label class="pure-u-1 pure-u-md-1-4 header-label">Age: </label>
                <label class="pure-u-1-4 pure-u-md-1-4 header-label">Gender: </label>
                <div class="pure-u-1-4 pure-u-md-1-6">
                    <label for="minNumOfMembers">Minimum</label>
                    <input type="number" ng-model="sportEvt.minNumOfMembers" id="minNumOfMembers" class="pure-u-18-24">
                </div>

                <div class="pure-u-1-4 pure-u-md-1-6">
                    <label for="maxNumOfMembers">Maximum</label>
                    <input type="number" ng-model="sportEvt.maxNumOfMembers" id="maxNumOfMembers" class="pure-u-18-24">
                </div>

                <div class="pure-u-1-4 pure-u-md-1-6">
                    <label for="optNumOfMembers">Optimum</label>
                    <input type="number" ng-model="sportEvt.optNumOfMembers" id="optNumOfMembers" class="pure-u-18-24">
                </div>
                <div class="pure-u-1 pure-u-md-1-4">
                    <div class="pure-u-1-4 pure-u-md-1-3">
                        <label for="minAgeEvent">From</label>
                        <input type="number" ng-model="sportEvt.minAge" id="minAgeEvent" class="pure-u-15-24">
                    </div>
                    <div class="pure-u-1-4 pure-u-md-1-3">
                        <label for="maxAgeEvent">To</label>
                        <input type="number" ng-model="sportEvt.maxAge" id="maxAgeEvent" class="pure-u-15-24">
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-4">
                    <div class="checkBox-label">
                        <label for="femaleEvent">
                            <input type="checkbox" ng-model="sportEvt.forFemale" id="femaleEvent" >
                            Female
                        </label>
                    </div>
                    <div class="checkBox-label">
                        <label for="maleEvent">
                            <input type="checkbox" ng-model="sportEvt.forMale" id="maleEvent">
                            Male
                        </label>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1">
                    <div class="checkBox-label">
                        <label for="openForIndividuals">
                            <input type="checkbox" ng-model="sportEvt.openForIndividuals" id="openForIndividuals" placeholder="openForIndividuals">
                            Open For Individuals
                        </label>
                    </div>
                    <div class="checkBox-label">
                        <label for="openForGroups">
                            <input type="checkbox" ng-model="sportEvt.openForGroups" id="openForGroups" placeholder="openForGroups">
                            Open For Groups
                        </label>
                    </div>
                </div>
            </div>





<!--
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2">
                    <label for="sportType">Sport*</label>
                    <select name="sportType" id="sportType" ng-model="theSportType._id" class="pure-u-20-24" required>
                        <option ng-repeat="item in sportTypeList" value="{{item._id}}">{{item.title}}</option>
                    </select>
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <label for="court">Court*</label>
                    <select name="court" id="court" ng-model="theCourt._id" class="pure-u-20-24" required>
                        <option ng-repeat="item in courtList" value="{{item._id}}">{{item.title}}</option>
                    </select>
                </div>

                <label class="pure-u-1 pure-u-md-1 header-label">Date & Time:</label>
                <div class="pure-u-2-5 pure-u-md-2-5">
                    <label for="date">Date*</label>
                    <input type="date" data-ng-model="sportEvt.dateEvtAsString" id="date" placeholder="date" class="pure-u-23-24" required>
                </div>

                <div class="pure-u-1-4 pure-u-md-1-4">
                    <label for="startTime">Start Time*</label>
                    <input type="time" data-ng-model="sportEvt.startTimeAsString" id="startTime" placeholder="Start Time" class="pure-u-23-24" value="{{sportEvt.startTimeAsString}}" required>
                </div>
                <div class="pure-u-1-4 pure-u-md-1-4">
                    <label for="duration">Duration</label>
                    <input type="number" data-ng-model="sportEvt.duration" id="duration" class="pure-u-16-24" value="{{sportEvt.duration}}">
                </div>

                <label class="pure-u-1 pure-u-md-1 header-label">Number Of Members: </label>
                <div class="pure-u-1-4 pure-u-md-1-4">
                    <label for="minNumOfMembers">Minimum</label>
                    <input type="number" data-ng-model="sportEvt.minNumOfMembers" id="minNumOfMembers" class="pure-u-18-24" value="{{sportEvt.minNumOfMembers}}">
                </div>

                <div class="pure-u-1-4 pure-u-md-1-4">
                    <label for="maxNumOfMembers">Maximum</label>
                    <input type="number" data-ng-model="sportEvt.maxNumOfMembers" id="maxNumOfMembers" class="pure-u-18-24" value="{{sportEvt.maxNumOfMembers}}">
                </div>

                <div class="pure-u-1-4 pure-u-md-1-4">
                    <label for="optNumOfMembers">Optimum</label>
                    <input type="number" data-ng-model="sportEvt.optNumOfMembers" id="optNumOfMembers" class="pure-u-18-24" value="{{sportEvt.optNumOfMembers}}">
                </div>

                <div class="pure-u-1 pure-u-md-1-2">
                    <div class="checkBox-label">
                        <label for="openForIndividuals">
                            <input type="checkbox" data-ng-model="sportEvt.openForIndividuals" id="openForIndividuals" placeholder="openForIndividuals" value="{{sportEvt.openForIndividuals}}">
                            Open For Individuals
                        </label>
                    </div>
                    <div class="checkBox-label">
                        <label for="openForGroups">
                            <input type="checkbox" data-ng-model="sportEvt.openForGroups" id="openForGroups" placeholder="openForGroups" value="{{sportEvt.openForGroups}}">
                            Open For Groups
                        </label>
                    </div>
                </div>
            </div>-->
            <div class="center-button">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>

        </fieldset>
    </form>
</section>