<section data-ng-controller="SportEvtsController" data-ng-init="usersAndGroupsInEvent()">
    <div ng-include="'sportEvts/views/main-sportEvts.client.view.html'"></div>
    <div ng-include="'sportEvts/views/admin-menu.client.view.html'"></div>

    <div class="add-userAndGroups">
        <div class="add-users-side-with-admin-section">

            <div class="groups-top">
                <div class="manage-users-title center_align">Remove users</div>
                <input type="text" class="form-control-group" placeholder="Search" ng-model="searchKeywordUsers"/>
                <div class="usersList-to-add" ng-if="usersToRemove.length && usersToRemove.length > 0 && windWidth >= 800">
                    <il data-ng-repeat="user in usersToRemove">
                        <button type="button" ng-bind="user.theUser.username" class="user-to-add" ng-click="removeUsersList(user)"></button>
                        <i ng-click="removeUsersList(user)" style="font: normal normal normal 15px/2 FontAwesome; margin: -3px 0 -3px -15px; cursor: pointer;
                 color: white; background-color: rgb(50, 54, 57); line-height: 25px; vertical-align: middle; padding: 5px;
                  border-left: 1px solid transparent;
                  border-right: 1px solid black;
                  border-bottom: 1px solid black;
                  border-top: 1px solid black;"
                           class="fa fa-times" aria-hidden="true "></i>
                    </il>
                </div>

                <div class="usersList-to-add" ng-if="usersToRemove.length && usersToRemove.length > 0 && windWidth < 700">
                    <il data-ng-repeat="user in usersToRemove">
                        <button type="button" ng-bind="user.theUser.username" class="user-to-add" ng-click="removeUsersList(user)"></button>
                        <i ng-click="removeUsersList(user)" style="font: normal normal normal 10px/2 FontAwesome; margin: 5px 0 5px -15px; cursor: pointer;
                 color: white; background-color: rgb(50, 54, 57); line-height: 15px; vertical-align: middle; padding: 5px;
                 border-bottom-right-radius: 10px;
                 border-top-right-radius: 10px;
                 border-left: 1px solid transparent;
                 border-right: 1px solid black;
                 border-bottom: 1px solid black;
                 border-top: 1px solid black;"
                           class="fa fa-times" aria-hidden="true "></i>
                    </il>
                </div>
            </div>
            <table class="rwd-table-users" ng-if="windWidth >= 800">
                <tr>
                    <th></th>
                    <th>Full Name</th>
                    <th>City</th>
                </tr>
                <tr ng-repeat="user in users | filter: searchKeywordUsers" ng-click="removeUsersList(user)" ng-class="{'selected_user': usersToRemove.indexOf(user) != -1 }">
                    <td data-th="Picture" style="text-align: center;">{{user.theUser.image}}<i style="font-size:30px; width: 30%; margin: auto" class="fa fa-user-circle" aria-hidden="true"></i></td>
                    <td data-th="Full Name">{{user.theUser.fullName}}</td>
                    <td data-th="City">{{user.theUser.city}}</td>
                </tr>
            </table>

            <div class="small-table-users" ng-if="windWidth < 799">
                <div class="user-header" ng-repeat="user in users | filter: searchKeywordUsers" ng-click="removeUsersList(user)" ng-class="{'selected_user': usersToRemove.indexOf(user) != -1 }">
                    <div class="left-side-user">
                        <i style="font-size:30px;"  class="fa fa-user-circle" aria-hidden="true"></i>
                        <!--<span data-ng-bind="group.image"></span>-->
                    </div>
                    <div class="center-side-user">
                        <span class= "name-part" data-ng-bind="user.theUser.fullName"></span>
                        <span class= "court-part" data-ng-bind="user.theUser.city"></span>
                    </div>
                </div>
            </div>
        </div>



        <div class="add-groups-side-with-admin-section">
            <div class="groups-top">
                <div class="manage-users-title center_align">Remove groups</div>
                <input type="text" class="form-control-group" placeholder="Search" ng-model="searchKeywordGroups"/>
                <div class="usersList-to-add" ng-if="groupsToRemove.length && groupsToRemove.length > 0 && windWidth >= 800">
                    <il data-ng-repeat="group in groupsToRemove">
                        <button type="button" ng-bind="group.title" class="user-to-add" ng-click="removeGroupsList(group)"></button>
                        <i ng-click="removeGroupsList(group)" style="font: normal normal normal 15px/2 FontAwesome; margin: -3px 0 -3px -15px; cursor: pointer;
                 color: white; background-color: rgb(50, 54, 57); line-height: 25px; vertical-align: middle; padding: 5px;
                  border-left: 1px solid transparent;
                  border-right: 1px solid black;
                  border-bottom: 1px solid black;
                  border-top: 1px solid black;"
                           class="fa fa-times" aria-hidden="true "></i>
                    </il>
                </div>

                <div class="usersList-to-add" ng-if="groupsToRemove.length && groupsToRemove.length > 0 && windWidth < 700">
                    <il data-ng-repeat="group in groupsToRemove">
                        <button type="button" ng-bind="group.title" class="user-to-add" ng-click="removeGroupsList(group)"></button>
                        <i ng-click="removeGroupsList(group)" style="font: normal normal normal 10px/2 FontAwesome; margin: 5px 0 5px -15px; cursor: pointer;
                 color: white; background-color: rgb(50, 54, 57); line-height: 15px; vertical-align: middle; padding: 5px;
                 border-bottom-right-radius: 10px;
                 border-top-right-radius: 10px;
                 border-left: 1px solid transparent;
                 border-right: 1px solid black;
                 border-bottom: 1px solid black;
                 border-top: 1px solid black;"
                           class="fa fa-times" aria-hidden="true "></i>
                    </il>
                </div>
            </div>
            <table class="rwd-table-users" ng-if="windWidth >= 800">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Sport</th>
                    <th>Court</th>
                </tr>
                <tr ng-repeat="group in groups | filter: searchKeywordGroups" ng-click="removeGroupsList(group)" ng-class="{'selected_user': groupsToRemove.indexOf(group) != -1 }">
                    <td data-th="Picture" style="text-align: center;">{{group.image}}<i style="font-size:40px; text-align: center; width: 70%; margin: auto" class="fa fa-users" aria-hidden="true"></i></td>
                    <td data-th="Name">{{group.title}}</td>
                    <td data-th="Sport">{{group.theSportType.title}}</td>
                    <td data-th="Court">{{group.defaultCourt.title}}</td>
                </tr>
            </table>

            <div class="small-table-users" ng-if="windWidth < 799">
                <div class="user-header" ng-repeat="group in groups | filter: searchKeywordGroups" ng-click="removeGroupsList(group)" ng-class="{'selected_user': groupsToRemove.indexOf(group) != -1 }">
                    <div class="left-side-add-group">
                        <i style="font-size:25px; text-align: center; width: 50%; height: 50%; margin: auto; vertical-align: middle; " class="fa fa-users" aria-hidden="true"></i>
                        <!--<span data-ng-bind="group.image"></span>-->
                    </div>
                    <div class="center-side-add-group">
                        <span class= "title-part" data-ng-bind="group.title"></span>
                        <span class= "defaultCourt-part" data-ng-bind="group.defaultCourt.title"></span>
                        <span class= "sport-part" data-ng-bind="group.theSportType.title"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="center-button">
        <button type="submit" class="pure-button pure-button-primary" ng-click="removeUsersAndGroups()" ng-disabled="isSubmited">Remove</button>
    </div>

</section>