
<div ng-if="windWidth >= 800">
    <table class="participants-table-groupPage">
        <tr>
            <th></th>
            <th>Sport</th>
            <th>Date</th>
            <th>Time</th>
            <th>Court</th>
            <th>Participants</th>
        </tr>
        <tr ng-repeat="sportEvt in sportEvts | filter: searchKeyword" ng-click="openEvent(sportEvt)">
            <td data-th="*" ng-if="checkIfShow(sportEvt) && sportEvt.creator.id == authentication.user.id"><i class="fa fa-pencil" aria-hidden="true"></i></td>
            <td data-th="*" ng-if="checkIfShow(sportEvt) && sportEvt.creator.id != authentication.user.id"></td>
            <td data-th="Sport" ng-if="checkIfShow(sportEvt)">{{sportEvt.sportType.title}}</td>
            <td data-th="Date" ng-if="checkIfShow(sportEvt)">{{sportEvt.dateEvtAsString}}</td>
            <td data-th="Time" ng-if="checkIfShow(sportEvt)">{{sportEvt.startTimeAsString}}</td>
            <td data-th="Court" ng-if="checkIfShow(sportEvt)">{{sportEvt.court.title}}</td>
            <td data-th="Participants" ng-if="checkIfShow(sportEvt)">{{sportEvt.allParticipantsAndNotific.length}}</td>
        </tr>
    </table>
    <div ng-if="eventsCounter == 0">
        <h2>No Events</h2>
    </div>
</div>

<div class="small-table" ng-if="windWidth < 799">
    <div class="sportEvt-header" ng-repeat="sportEvt in sportEvts | filter: searchKeyword" ng-click="openEvent(sportEvt)" ng-if="checkIfShow(sportEvt)">
        <div class="left-side-event">
            <span class= "sportType-part" data-ng-bind="sportEvt.sportType.title"></span>
            <span class= "court-part" data-ng-bind="sportEvt.court.title"></span>
        </div>
        <div class="center-side-event">
            <span class= "dateEvtAsString-part" data-ng-bind="sportEvt.dateEvtAsString"></span>
            <span class= "startTimeAsString-part" data-ng-bind="sportEvt.startTimeAsString"></span>
        </div>
        <div class="right-side">
            <i style="font-size:13px" class="fa members-icon">&#xf0c0;</i>
            <span class= "currentParticipants-part">{{sportEvt.allParticipantsAndNotific.length}}</span>
            <i ng-if="sportEvt.creator.id == authentication.user.id" class="fa fa-pencil" aria-hidden="true"></i>
        </div>
    </div>
    <div ng-if="eventsCounter == 0">
        <h2>No Events</h2>
    </div>
</div>