<section data-ng-controller="CourtsController" data-ng-init="findOne()">
    <div ng-include="'courts/views/court-main.client.view.html'"></div>


    <div class="group-title center_align">{{court.title}}</div>

    <div class="groupPage" ng-if="windWidth >= 800">
        <div ng-include="'courts/views/admin-menu.client.view.html'"></div>

        <div class="groupPage-creator">
            Created On: <span data-ng-bind="court.created | date:'mediumDate'"></span>
            <br>
            By: <span data-ng-bind="court.creator.fullName" class="links" ng-click="goToPage('users/', court.creator.id)"></span>
        </div>
        <div class="groupPage-main-part">
            <div class="groupPage-details">
                <div>Address: <span data-ng-bind="court.courtAddress"></span></div>
                <div>Sports: <span data-ng-bind="court.subCourts.sportType"></span></div>
                <div>Comments: <span data-ng-bind="court.comments"></span></div>
            </div>
        </div>
    </div>

    <div class="groupPage" ng-if="windWidth < 799">
        <div ng-include="'courts/views/admin-menu.client.view.html'"></div>
        <div class="groupPage-main-part">
            <div class="groupPage-details">
                <div>Address: <span data-ng-bind="court.courtAddress"></span></div>
                <div>Sport: <span data-ng-bind="court.subCourts.sportType"></span></div>
                <div>Comments: <span data-ng-bind="court.comments"></span></div>
            </div>
        </div>
    </div>
    <div class="buttons-userPage">
        <button class="court-here-btn" ng-click="openGroupList(court)" ng-class="{'selection_events_groups': hereSelection==1}">Groups Here</button>
        <button class="court-here-btn" ng-click="openEventList(court)" ng-class="{'selection_events_groups': hereSelection==2}">Events Here</button>
        <button class="court-here-btn" ng-click="openEventList(court)" ng-class="{'selection_events_groups': hereSelection==3}">Users Here</button>
    </div>

</section>
