<!DOCTYPE html>
<html>
<head>
    <title> <%=title %> </title>
</head>
<body>
<div class="hgroup">
    <h1>Welcome</h1>
</div>

    <form action="/signup">
        <button type="submit" class="button buttonBlue">New User?
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
    </form>

    <form action="/signin" method="post">
        <h2>Login</h2>
        <div class="group">
            <input type="text" name="username" placeholder="Username"><span class="highlight"></span><span class="bar"></span>
        </div>
        <div class="group">
            <input type="password" name="password" placeholder="Password"><span class="highlight"></span><span class="bar"></span>
        </div>
        <button type="submit" class="button buttonBlue">Sign in
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
        </button>
        <br><br><br>
        <a class="btn-auth btn-facebook large" href="/oauth/facebook">
            Sign in with <b>Facebook</b>
        </a>
        <a class="btn-auth btn-google large" href="/oauth/google">
            Sign in with <b>Google</b>
        </a>
    </form>
</body>
</html>